/* * {
    border: solid 1px red
} */

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.invalid {
    background-color: red;
}

button {
    height: 50px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    border: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#litterbox {
    width: 90%;
    max-width: 600px;
    object-fit: contain;
}

.copy-link {
    margin: 0 10px; 
    display: flex;
    border-radius: 10px;
    border: solid 1px #ccc;
    width: clamp(150px, 100%, 600px)
}

.copy-link > input {
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    flex: 1
}

.copy-link > span {
    padding: 3px;
    cursor: pointer;
    border-left: solid 1px #ccc;
    padding: 10px;
}

button:hover {
    scale: 1.05;
    transition:0.3s cubic-bezier(0.075, 0.82, 0.165, 1)
}
